[Unit]
Description=LXE is a shim of the Kubernetes Container Runtime Interface for LXD
Requires=lxd.socket
Wants=network-online.target
After=lxd.socket network-online.target

[Service]
EnvironmentFile=-/etc/default/lxe
ExecStart=/usr/bin/lxe --logfile /var/log/lxe.log $OPTIONS
SyslogIdentifier=lxe.daemon
Restart=always
KillMode=process
TimeoutStopSec=600
Type=simple

[Install]
WantedBy=multi-user.target
